<div id="page" class="row h-100 bg-light">
    <div class="row col-12 col-md-8 h-100"> 
        <div class="container text-white p-0 px-5 align-self-center ">
            <div class="container">
                <h1>Chat Point</h2>
                <h2>Cross-Service Message Platform</h2>
                <p>User integration from multiple platforms in a simple and clean messaging application.</p>
                <p>Join from Facebook, Google, or GitHub.</p>
            </div>
        </div>
    </div>
    <div class="row col-12 col-md-3 py-3 bg-dark text-white text-center h-25"> 
        <div class="d-flex position-relative m-0 p-0 align-self-center">
            <div class="container-fluid">
                <h4 class="link-success">Find this project on GitHub</h4>
                <a href="https://github.com/deanraguso/Chat-Point" target="_BLANK" class="stretched-link"></a>
            </div>
        </div>
        <% unless current_user %>
            <div class="d-flex position-relative m-0 p-0 align-self-center">
                <div class="container-fluid">
                    <%= link_to "LOGIN", new_user_session_path, class: "btn btn-success w-100" %>
                </div>
            </div>
            <div class="d-flex position-relative m-0 p-0 align-self-center">
                <div class="container-fluid">
                    <%= link_to "DEMO ACCOUNT LOGIN", pages_demo_login_path, class: "btn btn-success w-100" %>
                </div>
            </div>
        <% else %>
            <div class="d-flex position-relative m-0 p-0 align-self-center">
                <div class="container-fluid">
                    <%= link_to "YOU ARE LOGGED IN - SIGN OUT", destroy_user_session_path , class: "btn btn-danger w-100", method: :delete %>
                </div>
            </div>
        <% end %>
    </div>
</div>