<div class="row h-100">
  <div class="container col-3 bg-secondary p-0">  
    <h2 class="text-white p-2">Rooms</h2>
    <p id="notice"><%= notice %></p>

    <% @rooms.each do |room| %>
      <div class="card m-0 border-1 bg-light rounded-0" style="width: 100%;min-width: 100px;">
        <div class="card-body p-1">
          <h5 class="card-title m-0"><%= room.name %></h5>
          <a href="<%= room_url(room.id) %>" class="stretched-link"></a>
        </div>
      </div>
    <% end %>

    <%= link_to 'Create Room', new_room_path, class: "btn btn-primary" %>
  </div>

  <div class="container col-9"></div>
</div>